body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #232323;
  font-family: monospace;
}

header {
  width: 100%;
  color: #353535;
  background-color: #00ff00b5;
  text-align: center;
  box-shadow:
    inset 0 -3em 3em rgba(0, 200, 0, 0.3),
    0 0 0 2px white,
    0.3em 0.3em 1em rgba(200, 0, 0, 0.6);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

button {
  background-color: rgb(157, 255, 127);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(92, 91, 91);
  cursor: pointer;
}

footer {
  background-color: #00ff00ae;
}

canvas {
  border: 1px solid #fff;
  background-color: #000;
}

em.name-em {
  color: rgb(120, 18, 156);
}